body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 600px;
  height: 100px;

  
  border-collapse: collapse;

  text-align: center;
}

th {
  background-color: gray;
  color: white;
}

td, th {
  border: 2px solid black;
  
  padding: 7px;
}